
.btn {
    padding: 0.5em 1.5em;
    letter-spacing: 1.3px;
    font-size: 0.9rem;
    font-weight: bolder;
    text-transform: uppercase;
    background-color: var(--theme-bg);
    transition: all 0.5s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    font-family: 'Kanit', sans-serif;
    border-radius: 5px;
}

.btn:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0 13px 27px -5px, rgba(0, 0, 0, 0.3) 0 8px 16px -8px;
}

.main-btn {
    border: 3px solid var(--main-theme-color);
    color: var(--main-theme-color);
    background: linear-gradient(var(--main-theme-color) 0 0) left /var(--d, 0%) 100% no-repeat;
}

.main-btn:hover {
    --d: 100%;
    color: #f1f1f1;
}

.secondary-btn {
    border: 3px solid var(--secondary-theme-color);
    color: #fff;
    background: linear-gradient(var(--secondary-theme-color) 0 0) left /var(--d, 100%) 100% no-repeat;
}

.secondary-btn:hover {
    --d: 0%;
    color: #fff;
}

