
/* --- HERO --- */

.hero {
    border: 2px solid blueviolet;
    min-height: 63vh;
}

.hero__section {
    text-transform: uppercase;
}

.hero__subtitle {
    box-sizing: content-box;
    color: var(--theme-text-color);
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 2em;
}

.hero__subtitle p {
    margin-bottom: 0;
}
