/* --- HERO --- */

@media (min-width: 800px) {
  .hero {
    margin: 0;
  }
}

.hero__section {
  text-transform: uppercase;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 800px) {
  .hero__section {
    height: calc(100vh - 98px); /* 98px is the height of the nav bar */
    margin-top: 98px;
  }
}

.hero__subtitle {
  box-sizing: content-box;
  color: var(--theme-text-color);
  font-size: 1.7rem;
  text-align: center;
  margin-bottom: 2em;
}

.hero__subtitle p {
  margin-bottom: 0;
}
