/* --- NAVIGATION --- */

.toggle-container {
    text-align: right;
    padding: 11px 15px;
}

.nav__toggle-btn {
    font-size: 1.5rem;
    color: #f1f1f1;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-content {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 50px;
    width: 50px;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    margin-top: 1em;
    background-color: var(--main-theme-color);
    border-radius: 0 10px 10px 0;
    opacity: 0.98;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-container {
    display: none;
    position: relative;
    width: 100%;
    text-align: center;
}

@media (min-width: 750px) {
    .navigation-content {
        display: block;
        position: relative;
        width: 100%;
        height: initial;
        margin-top: 0;
        border-radius: 0;
        padding: 1em;

    }

    .nav-container {
        margin: 0;
        display: block;
    }

    .toggle-container {
        display: none;
    }


}

nav {
    width: 100%;
    max-width: 1100px;
    font-family: 'Kanit', sans-serif;
    letter-spacing: 2px;
    font-weight: 400;
}

.nav {
    padding: 1em;
    display: block;
}

@media (min-width: 750px) {
    nav {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }

    .nav {
        padding: 0;
        display: flex;
        align-items: flex-end;
    }
}

.navbar-brand {
    align-self: center;
    padding: 0;
}


.nav-link {
    color: #f1f1f1;
    font-weight: 500;
    text-transform: lowercase;
    width: 100%;
    max-width: 150px;
    margin: 1em auto;
    background:
            linear-gradient(currentColor 0 0)
            var(--p, 50%) 100% /var(--d, 10%) 3px no-repeat;
    transition: 0.3s, background-position 0s;
}

.nav-link:hover {
    color: #f1f1f1;
    --d: 100%;
    --p: 0%;
    transition: 0.3s, background-size 0.3s 0.3s;
}

@media (min-width: 750px) {
    .nav-item {
        margin: 0 1em;
    }
}

/* --- DARK MODE SWITCH ---  */

.dark-mode-toggle {
    padding: 0 1rem;
    align-self: center;

}

.dark-mode-toggle p {
    margin: 0;
    font-size: 0.6em;
    letter-spacing: 1.2px;
    color: rgba(241, 241, 241, 0.85);
}

.languages {
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #f1f1f1;
    padding: 0.2em 1em;
    cursor: pointer;
    opacity: 0.8;
    transition: all 0.5s ease-in-out ;
}

.languages:hover {
    color: #252424;
    opacity: 1;
}

.languages + .languages {
    border-left: 2px solid #ffffff;
}
