/* --- SKILLS --- */

.skills-container {
    max-width: 800px !important;
}

.icon-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    margin-top: 3em;
}

.icon-grid__item {
    border: 1px solid var(--main-theme-color);
    width: 100px;
    padding: 1em 0;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
}

.icon-grid__item:hover {
    -webkit-animation: wobble-hor-bottom 0.8s both;
    animation: wobble-hor-bottom 0.8s both;
    border: 1px solid var(--secondary-theme-color);
}

.icon-grid__item:hover .icon-grid__item-icon{
    color: var(--secondary-theme-color);
}

@media (min-width: 800px) {
    .icon-grid__item {
        width: 120px;
        padding: 2em 1em;
    }
}

.icon-grid__item p {
    font-size: 0.6rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
}

.icon-grid__item-icon {
    font-size: 1.8rem;
    color: var(--main-theme-color);
    transition: color 0.4s cubic-bezier(0.470, 0.000, 0.745, 0.715) ;
}


/* ----------------------------------------------
 * Generated by Animista on 2022-3-15 13:19:25
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@keyframes wobble-hor-bottom {
    0%,
    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
    15% {
        -webkit-transform: translateX(-30px) rotate(-6deg);
        transform: translateX(-30px) rotate(-6deg);
    }
    30% {
        -webkit-transform: translateX(15px) rotate(6deg);
        transform: translateX(15px) rotate(6deg);
    }
    45% {
        -webkit-transform: translateX(-15px) rotate(-3.6deg);
        transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
        -webkit-transform: translateX(9px) rotate(2.4deg);
        transform: translateX(9px) rotate(2.4deg);
    }
    75% {
        -webkit-transform: translateX(-6px) rotate(-1.2deg);
        transform: translateX(-6px) rotate(-1.2deg);
    }
}
