
:root {
    --main-theme-color: '';
    --theme-bg: '';
    --theme-bg-accent: '';
    --theme-text-color: '';
    --project-overlay-color: '';
    --theme-footer-color: '';

}

/* DARK THEME
   --main-theme-color: #C08EF7;
    --theme-bg: #1E1E1E;
    --theme-text-color: #f1f1f1;
    --theme-bg-accent: #1E1E1E;
*/

/* LIGHT THEME
     --main-theme-color: rgba(128, 8, 254, 0.78);
    --theme-bg: #f6f2ff;
    --theme-bg-accent: #eee8ff;
    --theme-text-color: #262b2f;
    --overlay-text-color: #ffffff;
/
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100vh;
    margin: 0;
    line-height: 1.6;
    color: var(--theme-text-color);
    background-color: var(--theme-bg);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all 0.7s cubic-bezier(0.65, 0.05, 0.36, 1);
}


img {
    display: block;
    max-width: 100%;
}

button {
    padding: 0.5em 1.5em;
    letter-spacing: 1px;
    font-size: 0.9rem;
    text-transform: uppercase;
    background-color: var(--theme-bg);
    transition: all 0.5s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    font-family: 'Kanit', sans-serif;
}

button:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.main-btn {
    border: 3px solid var(--main-theme-color);
    color: #fff;
    background: linear-gradient(var(--main-theme-color) 0 0) left /var(--d, 100%) 100% no-repeat;
}

.main-btn:hover {
    --d: 0%;
    color: var(--main-theme-color);

}

.secondary-btn {
    border: 3px solid #FF5E9F;
    color: #fff;
    background: linear-gradient(#FF5E9F 0 0) left /var(--d, 100%) 100% no-repeat;
}

.secondary-btn:hover {
    --d: 0%;

}

/*---TYPOGRAPHY---*/

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Kanit', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: bolder;

}

h1 {
    font-size: 10vh;
}

small {
    font-family: 'Space Mono', monospace;
    font-size: 0.65rem;
    letter-spacing: 1px;
    margin-bottom: 2em;

}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


main {

}

/* --- GENERAL --- */

.c-container {
    width: 93%;
    margin: 0 auto;
}

.section-container {
    width: 100%;
    padding: 3em 0;
}

.light__accent {
    background-color: var(--theme-bg-accent);
}

.dark__accent {
    background-color: var(--main-theme-color);
    color: #1E1E1EFF;
}

.section {
    border: 2px dashed #FF5E9F;
    width: 95%;
    max-width: 1100px;
    margin: 3em auto;
}


.section-title {
    color: var(--main-theme-color);
}

.section-subtitle {
    color: #FF5E9F;
    font-family: 'Kanit', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8rem;
    font-style: italic;
    margin-bottom: 0.5em;
}


/* --- SOCIALS --- */
.socials__fixed-container {
    position: fixed;
    top: 30%;
    right: 0;
    background-color: #282c34;
}

.social-link {
    display: block;
    padding: 0.7em 0.8em;
    color: inherit;
    text-decoration: none;

}

.social-link:hover > .social-icon {
    color: var(--main-theme-color);
}

.social-icon {
    color: #f1f1f1;
    transition: all 0.2s ease-in-out;
}

/* --- NAVIGATION --- */
/*
.navigation-container {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(255, 94, 159, 0.76);
    z-index: 10;
}*/

nav {
    border: 2px dashed #FF5E9F;
    width: 95%;
    max-width: 1100px;
    margin: 0 auto;
}

.nav {
    padding: 1em;
    border: 1px solid cornflowerblue;
}

.nav-link {
    color: var(--main-theme-color);
    background: linear-gradient(currentColor 0 0) var(--p, 50%) 100% /var(--d, 10%) 3px no-repeat;
    transition: 0.3s, background-position 0s;
}

.nav-link:hover {
    color: var(--main-theme-color);
    --d: 100%;
    --p: 0%;
    transition: 0.3s, background-size 0.3s 0.3s;
}

/* --- HERO --- */

.hero {
    min-height: 90vh;
}

.hero__section {
    border: 1px solid gold;
    text-transform: uppercase;
}




/* --- ABOUT --- */


.accent-title {
    color: #f1f1f1;
}

.accent-subtitle {
    font-family: 'Kanit', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8rem;
    font-style: italic;
    background-color: #ff5e9f;
    color: #dddddd;
    width: fit-content;
    margin: 0 auto 1em;
}

.about {
    max-width: 900px;
}

.about__container {
    margin-top: 3em;
}

.about__img-container img {
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;

}

.about__container-item {
    margin-top: 2em;
    border: 1px solid mediumslateblue;
}

@media (min-width: 800px) {

    .about__container {
        display: flex;
        justify-content: space-between;
    }

    .about__container-item {
        width: 60%;
        margin-left: 2em;
        margin-top: 0;
    }
}

/* --- PROJECTS ---*/

.projects {
}

.projects__flex {
    margin-top: 3em;
}

@media (min-width: 800px) {
    .projects__flex {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }
}

.projects__item {
    position: relative;
    width: 100%;
    max-width: 550px;
    margin: 0 auto 2em;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

.projects__item:hover .projects__item-overlay {
    height: 100%;
    opacity: 1;
    /*background-color: var(--main-theme-color);*/
    background-color: var(--project-overlay-color);
}

.projects__item-img {
    display: block;
}

.projects__item-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 0;
    opacity: 0;
    overflow: hidden;
    background-color: var(--main-theme-color);
    color: #eaeaea;
    transition: .65s cubic-bezier(0.85, -0.21, 0.27, 1.55);
}

.overlay__text {
    padding: 2em;
}

.overlay__text h5 {
    color: #ffffff;
    font-family: 'Kanit', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}


/* --- SKILLS --- */
.skills-container {
    max-width: 800px;


}

.icon-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    margin-top: 3em;
}

.icon-grid__item {
    border: 1px solid var(--main-theme-color);
    width: 100px;
    padding: 1em;
    transition: all 0.2s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
}

@media (min-width: 800px) {
    .icon-grid__item {
        width: 120px;
        padding: 2em 1em;
    }
}

.icon-grid__item p {
    font-size: 0.6rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
}

.dev-icon {
    font-size: 1.8rem;
    color: var(--main-theme-color);
}

/* --- FOOTER --- */
footer {
    background-color: var(--theme-footer-color);
    color: var(--theme-text-color);
    min-height: 500px;
    width: 100%;
    margin-top: 2em;
    padding: 2em 0;
}

.footer__text-animation {
    font-size: 3rem;
}

.footer__cta {
    font-size: 4rem;
    padding-bottom: 2em;
}

.footer__cta a {
    background: linear-gradient(currentColor 0 0) -20% 100%/var(--p, 10%) 3px no-repeat;
    transition: 0.5s 0.3s cubic-bezier(0, 1.25, 1, 1.8), background-size 0.3s;
    text-decoration: none;
    color: #ff5e9f;
}

.footer__cta a:hover {
    background-position: 50% 100%;
    --p: 50%;
    transition: 0.5s cubic-bezier(0, 1.25, 1, 1.8), background-size 0.2s 0.7s;
}

.hero__subtitle {
    box-sizing: content-box;
    color: #ffffff;
    font-size: 1.7rem;
    border: 2px solid #61dafb;
    text-align: center;
    margin-bottom: 2em;
}

.hero__subtitle p {
    margin-bottom: 0;
}

.word-animation-wrapper {
    border: 1px solid gold;
    height: 50px;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}

.word-animation__words {
    overflow: hidden;
    border: 1px solid gold;
    height: 100%;
    padding-right: 1em;
    text-align: left;

}

.word-animation__word {
    display: block;
    padding-left: 10px;
    color: #ff5e9f;
    animation: spin_words 7s infinite;
}

@keyframes  spin_words{
    10% {
        transform: translateY(-112%);
    }
    25% {
        transform: translateY(-100%);
    }
    35% {
        transform: translateY(-212%);
    }
    50% {
        transform: translateY(-200%);
    }
    60% {
        transform: translateY(-312%);
    }
    75% {
        transform: translateY(-300%);
    }
    85% {
        transform: translateY(-412%);
    }
    100% {
        transform: translateY(-400%);

    }
}





